.space{
    height: 90px;
}

.row {
    justify-content: center;
}

.about {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* padding-left: 10vw;
    padding-right: 10vw; */
}

.about-row{
    justify-content: center;
}

.team-logo{
    width: 60%;
    height:80%;
    position: absolute;
}

.image-card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem
}



.cb{
    flex:none;
    display: inline-block;
    padding: 1.5rem;
}


.team-card{
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.2);
    /* width: 18rem; */
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.subtitle{
    font-size: medium;
    font-weight: bold;
}

ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
ul.pagination li.page-item.active a.page-link {
    color:white ;
    background-color: tomato ;
    border-color: #dad3ce ;
}
ul.pagination a.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none ;
    border-color: #ced4da ;
    color: #485584;
    font-weight: bold ;
    font-size: 1rem;
}
ul.pagination a.page-link:hover {
    color: black;
    background-color: #f4f4f4;
}

/* instanceCard */
.instanceCon {
    height: 100vh;
    width: 100vw;
}

.space{
    height: 90px;
}

.centerCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.playerImage {
    width: 20vw;
    height: 20vw;
    max-width: 250px;
    max-height: 250px;
}

.teamLogoImage {
    max-width: 8vw;
    max-height: 8vw;
}

.flagCardImage {
    width: 20vw;
    height: 20vw;
    max-width: 250px;
    max-height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instanceCardImage{
    width: 30vw;
    height: 30vw;
    max-width: 350px;
    max-height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}


.left.row {
    display: flex;
    justify-content: left;
}

.teamStatsCard{
    min-width: 20vw;
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    flex-grow: 0;
}

.teamCardLink {
    width: 30vw;
    height: 15vw;
    max-width: 350px;
    max-height: 175px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.playersCardLink {
    width: 30vw;
    max-width: 350px;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 2vw;
}

.playersText {
    font-size: small;
}

.card-header {
    background-color: white;
}

/* .scrollComponent{
    display: inline-flex;
    max-height: 400px;
    height: 200px;
} */