h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: tomato;
}

h2 {
  color: #798196a8;
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 20px;
}

.btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  margin: none;
  width: 35%;
  border-radius: 3px;
  transition: 2s;
  color: #fff;
  background:tomato;
  cursor: pointer;
}

.buttonContent{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 8px;

}

.arrowPic{
    width: 25px;
    height: 25px;
}

.btn-get-started:hover {
  background: #ef7f4d;
  color: #fff;
}

.animated {
  animation: up-down .9s ease-in-out infinite alternate-reverse both;
}

.boy{
  max-height: 60vh;
}

.overall {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: 100vh;
}


.spacer{
  height: 25vh;
}

.spacerHome {
    height: 20vh;
}

.buttonCon {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 15vh; */
}


@media (max-width: 991px) {
  .animated {
    -webkit-animation: none;
    animation: none;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
  