/* html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #f0f0f0;
}
*/

.parent-div{
    max-width: 20vh;
    max-height: 20vh;
  
    /* max-height: 500px; */
    width: 50ch;
    height: 50ch;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} 


.c {
  position: absolute;
  /* max-width: 500px; */
  width: 100%;
  height: 100%;

 
  color: black;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
  border: 0px;
  box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-link.btn,
.card-link.btn:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    color: black;
    max-width: 20vh;
    max-height: 20vh;
    width: 50ch;
    height: 50ch;
   
}

