.overflow {
    overflow: hidden;
    height: 211px;
  }
  
  .homecard {
    border: 0px;
    box-shadow: 0px 1px 20px 1px rgba(0,0,0,0.08);
  }
  
  .homecard:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
  }
  
  .homecard-img-top {
    transform: scale(1);
    transition: transform 0.5s ease-out;
  }
  
  .homecard-img-top:hover {
    transform: scale(1.2);
  }
  
  
  .btn:hover {
    border-color: tomato;
    background-color: tomato;
  }
  .btn {
    border-color: #485584;
    color: #485584;
    background-color: transparent;
  }
  
  .buttonlinktext{
    text-decoration: none;
    color: #485584;
  }
  
  .buttonlinktext:hover{
    text-decoration: none;
    color: white;
  }
  